---
import Menu from '../components/ui/Menu.astro';
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import SectionSingle from '../components/ui/layouts/SectionSingle.astro';
import SectionContainer from "../components/ui/layouts/SectionContainer.astro";

import { Image } from 'astro:assets';
import GalleryCard from "../components/ui/components/GalleryCard.astro";
import {Icon} from "astro-icon/components";
---

<Layout>
	<Header extraClasses="container mx-auto" />
    <Menu />
	<SectionSingle title="Nosotros" bgImage="https://storage.googleapis.com/cazadores-bucket/assets/nosotros-cazadores-section.png" />
	<SectionContainer>
		<h2 class="mb-2 lg:mb-0 lg:text-start text-3xl">¿Quienes somos?</h2>
		<div class="grid grid-cols-1 lg:grid-cols-3 gap-2 lg:gap-10 lg:mt-10 mx-10 xl:mx-auto h-full items-end">
			<div class="col-span-2 h-full">
				<Image
					class=" w-full rounded-xl object-cover"
					src="https://storage.googleapis.com/cazadores-bucket/assets/nosotros-about-cazadores-section.png"
					alt="Example image"
					width="100"
					height="100"
					decoding="async"
					loading="lazy"
				/>
			</div>
			<span class="font-normal text-center lg:text-start text-3xl xl:text-5xl flex items-center w-full">
				"Somos una empresa que comparte conceptos biblicos y ayuda a los futuros empresarios"
			</span>
		</div>
		<div class="grid grid-cols-2 mx-10 xl:mx-auto mt-5 xl:mt-10">
			<p class="text-start col-span-2 xl:col-span-1 font-[600]">
				Cazadores es una iniciativa nacida con una visión clara: ayudar a empresarios, emprendedores y líderes a construir sus organizaciones sobre los principios eternos de la Palabra de Dios. Creemos que una empresa dirigida con integridad, propósito y sabiduría espiritual no solo es posible, sino necesaria en los tiempos actuales.
				<br><br>
				Nuestro nombre, Cazadores, representa a aquellos que no se conforman con lo superficial, sino que buscan activamente la verdad, la excelencia y la voluntad de Dios para sus decisiones empresariales. Somos guías y compañeros de camino para quienes desean alinear sus negocios con valores del Reino: justicia, generosidad, servicio, humildad y liderazgo con propósito.
			</p>
		</div>
	</SectionContainer>
	<SectionContainer>
		<div class="grid grid-cols-1 xl:grid-cols-3 xl:gap-5">
			<div class="flex flex-col items-center xl:items-start justify-center relative">
				<div class="w-[200px] h-[200px] xl:w-[150px] xl:h-[150px] bg-yellow-300 relative xl:absolute xl:top-20 2xl:top-10"></div>
				<span class="w-[200px] xl:w-full xl:text-start font-normal xl:text-3xl absolute xl:relative 2xl:text-4xl z-1 xl:px-10">"Sabiduría bíblica,<br> sin etiquetas."</span>
			</div>
			<div class="col-span-2 mt-5 xl:mt-0 flex flex-col gap-5 mx-10 xl:mx-0">
				<div>
					<h2 class="my-2 lg:mb-0 lg:text-start text-3xl">Visión</h2>
					<p class="text-start xl:mt-5 col-span-2 xl:col-span-1 font-[600]">
						Sabemos que el éxito verdadero
						proviene de la sabiduría, la
						integridad y la confianza en Dios,
						visionamos ser la comunidad de
						empresarios cristianos más
						grande de habla hispana
						comprometidos con el
						crecimiento personal, empresarial
						y espiritual. Nuestra visión es ver
						negocios florecer con excelencia,
						responsabilidad y propósito,
						generando impacto positivo en
						nuestras familias, comunidades y
						en el Reino de Dios.
					</p>
				</div>
				<div>
					<h2 class="mb-2 lg:mb-0 lg:text-start text-3xl">Misión</h2>
					<p class="text-start xl:mt-5 col-span-2 xl:col-span-1 font-[600]">
						Porque creemos que los negocios
						son una herramienta para
						bendecir a las personas y
						glorificar a Dios, hemos creado un
						espacio de crecimiento donde,
						soñadores, visionarios,
						emprendedores y dueños de
						negocios pueden conectarse,
						aprender y fortalecer sus
						empresas con principios bíblicos.
						A través de networking, mentoría
						y formación en áreas clave como
						finanzas, marketing,
						administración y liderazgo,
						equipamos a los participantes con
						conocimientos y valores que les
						permitan prosperar de manera
						íntegra y sostenible.
					</p>
				</div>
			</div>
		</div>
	</SectionContainer>
	<SectionContainer title="¿Como lo hacemos?" extraClasses="overflow-hidden">
		<div id="track" class="flex gap-10 p-5 lg:gap-3 lg:p-10">
			<GalleryCard
				bgImage="https://storage.googleapis.com/cazadores-bucket/assets/como-le-hacemos/como-le-hacemos-identidad.png"
				title="Identidad"
				description="Toda empresa exitosa debe comenzar definiendo su identidad. Esto implica tener una misión clara, valores sólidos y una propuesta de valor única que la diferencie en el mercado. Sin una identidad bien establecida, la empresa carece de dirección y difícilmente podrá conectar con su audiencia o generar confianza en su equipo."
			/>
			<GalleryCard
				bgImage="https://storage.googleapis.com/cazadores-bucket/assets/como-le-hacemos/como-le-hacemos-visibilidad.png"
				title="Visibilidad"
				description="No basta con existir; hay que ser visto. La visibilidad es clave para atraer clientes y generar oportunidades de negocio. Esto se logra a través del marketing estratégico, presencia digital y relaciones públicas. Sin visibilidad, incluso el mejor producto o servicio pasará desapercibido."
			/>
			<GalleryCard
				bgImage="https://storage.googleapis.com/cazadores-bucket/assets/como-le-hacemos/como-le-hacemos-credibilidad.png"
				title="Credibilidad"
				description="La confianza del mercado es el siguiente paso. La credibilidad se construye con experiencias positivas de los clientes, testimonios, reputación online y cumplimiento de promesas. Si una empresa no logra ser creíble, difícilmente logrará ventas recurrentes ni recomendaciones."
			/>
			<GalleryCard
				bgImage="https://storage.googleapis.com/cazadores-bucket/assets/como-le-hacemos/como-le-hacemos-rentabilidad.png"
				title="Rentabilidad"
				description="Ser visible y creíble no tiene sentido si no se traduce en ingresos sostenibles. La empresa debe alcanzar la rentabilidad para asegurar su supervivencia y crecimiento. Esto implica optimizar costos, mejorar márgenes y ofrecer productos o servicios con alto valor percibido."
			/>
			<GalleryCard
				bgImage="https://storage.googleapis.com/cazadores-bucket/assets/como-le-hacemos/como-le-hacemos-escabilidad.png"
				title="Escalabilidad"
				description="Una vez rentable, la empresa debe pensar en crecer sin que los costos aumenten al mismo ritmo. La escalabilidad permite atender más clientes y expandirse sin perder eficiencia ni calidad. Esto se logra con procesos bien estructurados y un modelo de negocio adaptable."
			/>
			<GalleryCard
				bgImage="https://storage.googleapis.com/cazadores-bucket/assets/como-le-hacemos/como-le-hacemos-estandarizaci%C3%B3n.png"
				title="Estandarización y Duplicidad"
				description="El crecimiento no debe depender de una sola persona. Estandarizar procesos y duplicar lo que funciona garantiza que la empresa pueda operar de manera consistente, independientemente de quién ejecute las tareas. Esto facilita la expansión y la creación de nuevas sucursales o franquicias."
			/>
			<GalleryCard
				bgImage="https://storage.googleapis.com/cazadores-bucket/assets/como-le-hacemos/como-le-hacemos-automatizacion.png"
				title="Sistematización, Automatización"
				description="Finalmente, la empresa debe incorporar tecnología y sistemas para hacer más eficientes sus operaciones. La automatización reduce errores, mejora la productividad y permite enfocarse en la innovación. Sin este paso, el crecimiento se vuelve insostenible y el negocio puede estancarse. "
			/>
		</div>
		<div class="flex justify-center my-10">
			<button
				id="nextBtn"
				class="bg-yellow-300 hover:bg-yellow-500 text-[13px] sm:text-[15px] py-2 px-4 sm:py-3 sm:px-6 rounded-xl mt-3 transition delay-150 text-black font-bold"
			><Icon name="mdi:arrow-right-bold" /></button
			>
		</div>
	</SectionContainer>
	<Footer />
</Layout>