---
import SectionFull from "./SectionFull.astro";

interface Props {
    title?: string;
	name?: string;
    bgImage?: string;
}

const {
    title = "Título por defecto",
    bgImage = "",
	name = "",
} = Astro.props as Props;
---
<SectionFull 
	extraClasses='h-[300px] lg:h-[500px] flex items-end text-white text-5xl font-bold relative overflow-hidden mb-10'
	>
	<div class="absolute top-0 left-0 w-full h-full">
		<div class="relative bg-linear-to-t from-black to-black/10 h-full z-1"></div>
		<img class="absolute top-0 w-full h-full object-cover" src={bgImage} alt="">
	</div>
	<div class="container mx-auto z-1 lg:text-start">
		<p class="lg:text-7xl" transition:name={name} set:html={title}></p>
	</div>
</SectionFull>