---
import Header from "../Header.astro";
import BackgroundVideo from "./BackgroundVideo.astro";
---

<div class="h-screen overflow-hidden relative">
    <Header isSlider={true} />
    <BackgroundVideo />
</div>